<section class="container ">
  <h1 class="section__title">The math behind K-Means clustering</h1>

  <h1 class="section__subtitle">The general problem statement for clustering</h1>
  <div>
    Given: 
      1. A dataset $\mathcal{D} = \{x_1, x_2, \dots, x_n\} $, where $ x_i \in \mathbb{R}^d $ represents a data point in $m$ -dimensional space, the objective of clustering is to partition the dataset into $k $ disjoint subsets clusters $ \mathcal{C}_1, \mathcal{C}_2, \dots, \mathcal{C}_k $, such that:
  </div>
</section>